<div class="menu-sidebar-content js-scrollbar1">  

    <ul class="list-unstyled navbar-list">
      <li *ngFor="let tempRestaurantCuisines of cuisines">
        <a routerLink="/cuisine/{{tempRestaurantCuisines.id}}" routerLinkActive="active-link">
           {{tempRestaurantCuisines.name}}
        </a>
      </li>
    </ul>

    <ngb-pagination [collectionSize]="theTotalElements" [(page)]="thePage" [pageSize]="thePageSize" [maxSize]="2" [rotate]="true"
     (pageChange)="listRestaurantCuisines()" size = "sm"></ngb-pagination>
</div>
