<div class="menu-sidebar-content js-scrollbar1">

  <ul class="list-unstyled navbar-list">
    <formly-form [form]="form" [fields]="cuisines" [options]="options" [model]="model"></formly-form>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <li *ngFor="let tempRestaurantCuisines of cuisines">
        <!-- <mat-checkbox (change)="changeFilterSelection(tempRestaurantCuisines.id)"
         routerLink="/filter/{{tempRestaurantCuisines.id}}"
         routerLinkActive="active-link">
           {{tempRestaurantCuisines.name}}
      </mat-checkbox> -->
      </li>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </ul>
  <pre>
        {{model | json}}
      </pre>

  <ngb-pagination [collectionSize]="theTotalElements" [(page)]="thePage" [pageSize]="thePageSize" [maxSize]="2"
    [rotate]="true" (pageChange)="listRestaurantCuisines()" size="sm"></ngb-pagination>
</div>